<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ausente</title>
    <!-- Enlace a la hoja de estilos CSS -->
    <link rel="stylesheet" href="/css/ausenteFuncionario.css">
    <!-- Enlace a los iconos de Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 

    <!-- Barra superior con información del usuario -->
    <div class="barra-superior">
        <div class="info-usuario">
            <span class="nombre-completo">
                <span class="usuario"> Usuario:</span>
                <span class="nombre"> Nombre:</span>
                <span class="fecha"> Fecha:</span>
            </span>
        </div>
    </div>
        
    <!-- Barra lateral (sidebar) -->
    <div class="sidebar" id="sidebar">
        <div class="header">
            <!-- Botón del menú -->
            <div class="menu-btn" id="menu-btn"></div> 
            <!-- Marca con el logo y el nombre de la institución -->
            <div class="brand">
                <img src="/imagenes/LogoRegistroCivil.png" alt="logo">
                <span>Registro Civil De Ñuble</span>
            </div>
        </div>
        
        <!-- Contenedor del menú -->
        <div class="menu-container">
            <!-- Barra de búsqueda -->
            <div class="search">
                <i class='bx bx-search'></i>
                <input type="search" placeholder="Buscar...">
            </div>
            <!-- Menú de navegación -->
            <ul class="menu">
                <!-- Elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Inicio</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/inicioFuncionario" class="sub-menu-link">Inicio<a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Informe Diario</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/formularioFuncionario" class="sub-menu-link">Informe diario</a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Registro Ausente</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/ausenteFuncionario" class="sub-menu-link">Ausente</a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Dotacion</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/dotacionTrabajoFuncionario" class="sub-menu-link">Dotacion Trabajo<a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Formulario de ausente fuera de la barra lateral -->
    <div class="container-ausente">
        <form class="formulario-ausente" id="ausenteForm">
            <h4 class="Formulario ausentes">Formulario Ausentes</h4>

            <!-- Campo para ingresar el RUN del funcionario -->
            <label for="run">RUN</label>
            <input class="controls" type="text" name="run" id="run" required>

            <!-- Campo para mostrar el nombre del funcionario -->
            <label for="nombre">Nombre</label>
            <input class="controls" type="text" name="nombre" id="nombre" required readonly>

            <!-- Campo para mostrar el apellido paterno del funcionario -->
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input class="controls" type="text" name="apellidoPaterno" id="apellidoPaterno" required readonly>

            <!-- Campo para mostrar el apellido materno del funcionario -->
            <label for="apellidoMaterno">Apellido Materno</label>
            <input class="controls" type="text" name="apellidoMaterno" id="apellidoMaterno" required readonly>

            <!-- Campo para mostrar la oficina del funcionario -->
            <label for="oficina">Oficina del funcionario</label>
            <input class="controls" type="text" name="oficina" id="oficina" required readonly>

            <!-- Campo para seleccionar el tipo de ausentismo -->
            <label for="tipoAusentismo">Tipo de ausentismo:</label><br>
            <select id="tipoAusentismo" name="tipoAusentismo" required onchange="mostrarOtro()">
                <option value="licencia-medica">LICENCIA-MEDICA</option>
                <option value="ausente">AUSENTE</option>
                <option value="permiso">PERMISO</option>
                <option value="teletrabajo">TELETRABAJO</option>
                <option value="otro">OTRO</option>
            </select><br><br>

            <!-- Campo adicional para especificar otro tipo de ausentismo -->
            <div id="otro-container" style="display: none;">
                <label for="otro">Especifique:</label>
                <input class="controls" type="text" name="otro" id="otro">
            </div><br>

            <!-- Campo para seleccionar la fecha de inicio del ausentismo -->
            <label for="fechaInicio">Fecha de inicio</label>
            <input class="controls" type="date" name="fechaInicio" id="fechaInicio" required>
            
            <!-- Campo para seleccionar la fecha de fin del ausentismo -->
            <label for="fechaTermino">Fecha de fin</label>
            <input class="controls" type="date" name="fechaTermino" id="fechaTermino" required>
            
            <!-- Campo para ingresar observaciones -->
            <label for="observaciones">Observacion</label>
            <textarea class="controls" type="text" name="observaciones" id="observaciones" required></textarea>
            
            <!-- Botón para enviar el formulario -->
            <input class="botons" type="submit" value="Enviar">
        </form>
    </div>
        
    <!-- Enlace al archivo JavaScript -->
    <script src="/js/ausenteFuncionario.js"></script>
    <script>
        // Función para mostrar el campo "otro" si se selecciona la opción "otro" en el tipo de ausentismo
        function mostrarOtro() {
            const tipoAusentismo = document.getElementById('tipoAusentismo').value;
            const otroContainer = document.getElementById('otro-container');
            if (tipoAusentismo === 'otro') {
                otroContainer.style.display = 'block';
            } else {
                otroContainer.style.display = 'none';
            }
        }
    </script>
</body>
</html>