<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dotación de Trabajo</title>
    <!-- Enlace a la hoja de estilos CSS -->
    <link rel="stylesheet" href="/css/dotacionTrabajo.css">
    <link rel="stylesheet" href="/css/inicio.css">
    <!-- Enlace a los iconos de Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 

    <!-- Barra superior con información del usuario -->
    <div class="barra-superior">
        <div class="info-usuario">
            <span class="nombre-completo">
                <span class="usuario"> Usuario:</span>
                <span class="nombre"> Nombre:</span>
                <span class="fecha"> Fecha:</span>
            </span>
        </div>
    </div>
         
    <!-- Barra lateral (sidebar) -->
    <div class="sidebar" id="sidebar">
        <div class="header">
            <!-- Botón del menú -->
            <div class="menu-btn" id="menu-btn"></div> 
            <!-- Marca con el logo y el nombre de la institución -->
            <div class="brand">
                <img src="/imagenes/LogoRegistroCivil.png" alt="logo">
                <span>Registro Civil De Ñuble</span>
            </div>
        </div>
        
        <!-- Contenedor del menú -->
        <div class="menu-container">
            <!-- Barra de búsqueda -->
            <div class="search">
                <i class='bx bx-search'></i>
                <input type="search" placeholder="Buscar...">
            </div>
            <!-- Menú de navegación -->
            <ul class="menu">
                <!-- Elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Inicio</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/inicio" class="sub-menu-link">Inicio<a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Informe Diario</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/formulario" class="sub-menu-link">Informe diario</a></li>
                        <li><a href="/DotacionÑuble" class="sub-menu-link">Informe Ñuble</a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Registro Ausente</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/ausente" class="sub-menu-link">Ausente</a></li>
                        <li><a href="/ListaraAusente" class="sub-menu-link"> Listar Ausente</a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Dotacion</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/Dotacion" class="sub-menu-link">Dotacion Funcionario<a></li>
                        <li><a href="/dotacionTrabajo" class="sub-menu-link">Dotacion Trabajo<a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="contenedor-principal">
        <!-- Filtros para la búsqueda -->
        <div class="filtros">
            <label for="oficina">Oficina:</label>
            <select id="oficina" class="controls" name="oficina">
                <option value="0">Oficina</option>
                <option value="1">DR Ñuble</option>
                <option value="2">Chillán</option>
            </select>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            <button type="submit" id="buscar">Buscar</button>
            <button id="guardar" style="display: none;">Guardar</button>
        </div>
        <!-- Tabla de dotación de trabajo -->
        <table>
            <thead>
                <tr>
                    <th>Puesto de trabajo</th>
                    <th>Tipo de trabajo</th>
                    <th>Area de trabajo</th>
                    <th>Nombre Estación</th>
                    <th>Telefono</th>
                    <th>Dirección IP</th>
                    <th>Impresora</th>
                    <th>Datos Empleado</th>
                    <th>Run</th>
                    <th>Usuario</th>
                    <th>Nombre Funcionario/a</th>
                    <th>Tipo Funcionario</th>
                    <th>Categoria Funcionario</th>
                </tr>
            </thead>
            <tbody>
                <!-- Las filas se agregarán aquí dinámicamente -->
            </tbody>
        </table>
    </div>

    <!-- Modal para buscar usuario -->
    <div id="modal" style="display: none; position: fixed; top: 55%; width: 60%;left: 55%; transform: translate(-50%, -50%); background-color: white; padding: 20px; gap:20px ;border-radius: 4px;border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000;">
        <h3>Buscar Usuario</h3>
        <label for="run">Run</label>
        <select id="run">
            <option value="1">Opción 1</option>
        </select>
        <label for="nombre">Nombres</label>
        <select id="nombre">
            <option value="1">Opción A</option>
        </select>
        <br><br>
        <button id="cerrar-modal">Cerrar</button>
        <button id="buscar-modal">Buscar</button>
    </div>
    <div id="fondo-modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div>
        
    <!-- Enlace a los archivos JavaScript -->
    <script src="/js/inicio.js"></script>
    <script src="/js/dotacionTrabajo.js"></script>
</body>
</html>