<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Enlace a la hoja de estilos CSS -->
    <link rel="stylesheet" href="/css/inicioFuncionario.css">
    <!-- Enlace a los iconos de Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 

    <!-- Barra superior con información del usuario -->
    <div class="barra-superior">
        <div class="info-usuario">
            <span class="nombre-completo">
                <span class="usuario"> Usuario:</span>
                <span class="nombre"> Nombre:</span>
                <span class="fecha"> Fecha:</span>
            </span>
        </div>
    </div>
         
    <!-- Barra lateral (sidebar) -->
    <div class="sidebar" id="sidebar">
        <div class="header">
            <!-- Botón del menú -->
            <div class="menu-btn" id="menu-btn"></div> 
            <!-- Marca con el logo y el nombre de la institución -->
            <div class="brand">
                <img src="/imagenes/LogoRegistroCivil.png" alt="logo">
                <span>Registro Civil De Ñuble</span>
            </div>
        </div>
        
        <!-- Contenedor del menú -->
        <div class="menu-container">
            <!-- Barra de búsqueda -->
            <div class="search">
                <i class='bx bx-search'></i>
                <input type="search" placeholder="Buscar...">
            </div>
            <!-- Menú de navegación -->
            <ul class="menu">
                <!-- Elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Inicio</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/inicioFuncionario" class="sub-menu-link">Inicio<a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Informe Diario</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/formularioFuncionario" class="sub-menu-link">Informe diario</a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Registro Ausente</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/ausenteFuncionario" class="sub-menu-link">Ausente</a></li>
                    </ul>
                </li>
                <!-- Otro elemento del menú con submenú -->
                <li class="menu-item menu-item-dropdown">
                    <a href="#" class="menu-link">
                        <i class='bx bx-folder'></i>
                        <span>Dotacion</span>
                        <i class='bx bx-chevron-down'></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/dotacionTrabajoFuncionario" class="sub-menu-link">Dotacion Trabajo<a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="container">
        <!-- Sección de recordatorios -->
        <div class="recordatorio-section">
            <h2>Recordatorios</h2>
            <!-- Lista de recordatorios -->
            <ul id="recordatorio-list" class="recordatorio-list"></ul>
        </div>
    </div>
        
    <!-- Enlace al archivo JavaScript -->
    <script src="/js/inicioFuncionario.js"></script>
</body>
</html>